@import "minireset.css";

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-width: 100vw;
  min-height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.sidebar {
  border-right: 1px solid #000;
}

.sidebar,
.main {
  padding: 10px;
}
